Repository batleforc/MonoFolio: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Frontend, Lib ToolTracing, Lib MarkdownHeader, Lib Markdown struct

feat: WIP new CI/CD step
  cicd/templates/eventListener.yaml
  cicd/templates/tag_created/pipelineTagCreated.yaml
  cicd/templates/tag_created/triggerTemplateTagCreated.yaml
Due: none

feat: WIP fix cicd path
  cicd/templates/tag_created/pipelineTagCreated.yaml
Due: none

feat: WIP wrong shared data
  cicd/templates/tag_created/pipelineTagCreated.yaml
Due: none

feat: WIP CICD
  cicd/templates/tag_created/pipelineTagCreated.yaml
Due: none

feat: WIP ci/cd
  cicd/templates/tag_created/pipelineTagCreated.yaml
Due: none

feat: WIP CICD fix condition
  cicd/templates/eventListener.yaml
Due: none

feat: WIP CI/CD
  cicd/templates/tag_created/pipelineTagCreated.yaml
Due: none

feat: WIP CI/CD
  cicd/templates/tag_created/triggerBindingTagCreated.yaml
Due: none

feat: WIP CICD WRONG PARAM
  cicd/templates/tag_created/pipelineTagCreated.yaml
Due: none

fix: upgrade tracing [HOOK FAIL OK]
  Cargo.toml
  apps/back/Cargo.toml
  apps/front/index
  libs/back/markdown_header/Cargo.toml
  libs/back/markdown_struct/Cargo.toml
  libs/back/tool_tracing/Cargo.toml
  libs/back/tool_tracing/src/init.rs
Due: Backend, Frontend, Lib ToolTracing, Lib MarkdownHeader, Lib Markdown struct

feat: Upgrade Utoipa and add scalar api ui [HOOK FAIL OK]
  .vscode/launch.json
  Cargo.toml
  apps/back/Cargo.toml
  apps/back/src/api/blog/get_timeline.rs
  apps/back/src/api/doc/get_doc_sidebar.rs
  apps/back/src/api/home/get_home.rs
  apps/back/src/api/init.rs
  apps/back/src/api/media/get_media.rs
  apps/back/src/api/page/get_page.rs
  apps/back/src/homeprofil/home.rs
  libs/back/markdown_struct/src/blog_timeline.rs
  libs/back/markdown_struct/src/content_struct.rs
  libs/back/markdown_struct/src/doc_header.rs
  libs/back/markdown_struct/src/doc_sidebar.rs
Due: Backend, Lib Markdown struct

feat: upgrade image [HOOK FAIL OK]
  build/back/Containerfile
  swagger.json
Due: none

feat: Upgrade package
  .gitignore
  package.json
  yarn.lock
Due: none

feat: upgrade package in img
  build/back/Containerfile
  build/front/Containerfile
  catalog-info-back.yaml
  catalog-info-front.yaml
Due: none

feat: Upgrade api ++ WIP sass 2.0.0
  .github/workflows/vue-test.yml
  apps/front/src/component/Hero/Hero.vue
  apps/front/src/component/NavBar/NavBar.vue
  apps/front/src/styles.scss
  apps/front/src/views/HomeView.vue
  apps/front/vite.config.ts
  libs/front/api-client/package.json
  libs/front/api-client/src/api/index.ts
  libs/front/api-client/src/api/schemas.gen.ts
  libs/front/api-client/src/api/sdk.gen.ts
  libs/front/api-client/src/api/services.gen.ts
  libs/front/api-client/src/api/types.gen.ts
  package.json
  yarn.lock
Due: Frontend

fix: remove @import who is deprecated
  apps/front/src/component/Doc/DocSidebar.vue
  apps/front/src/component/Doc/DocSidebarItem.vue
  apps/front/src/component/Page/PageMetadata.vue
  apps/front/src/styles/DocView.scss
  apps/front/src/views/DocHomeView.vue
  apps/front/src/views/DocView.vue
Due: Frontend

feat: WIP upgrading the whole folio
  package.json
  yarn.lock
Due: none

feat: upgrade utoipa swagger ui et scalar
  apps/back/Cargo.toml
Due: Backend

feat: add sbom
  .github/dependabot.yml
  .github/workflows/rust-sbom.yml
  .github/workflows/sonar.desacyml
  apps/back/back.cdx.json
  apps/pong/pong.cdx.json
  libs/back/markdown_header/markdown_header.cdx.json
  libs/back/markdown_struct/markdown_struct.cdx.json
  libs/back/tool_tracing/tool_tracing.cdx.json
  package.json
  sonar-project.properties
Due: Backend, Lib ToolTracing, Lib MarkdownHeader, Lib Markdown struct

feat: upgrade katex
  package.json
  yarn.lock
Due: none

feat: upgrade package
  package.json
  yarn.lock
Due: none

feat: wip sbom
  .github/workflows/rust-sbom.yml
Due: none

feat: WIP
  Cargo.toml
  package.json
Due: none

feat: with the good format
  .github/workflows/rust-sbom.yml
  Cargo.toml
  package.json
Due: none

feat: Upgrade both package.json and migrate pong from 14 to 15
  apps/pong/Cargo.toml
  apps/pong/src/main.rs
  apps/pong/src/model/ball.rs
  apps/pong/src/model/gutter.rs
  apps/pong/src/model/scoreboard.rs
  apps/pong/src/model/user_row.rs
  package.json
  yarn.lock
Due: none

fix: patch unplugin that now follow Epoch Semver ++ patch vite moderate erro
  package.json
  yarn.lock
Due: none

feat: Working liste of item
  apps/front/src/component/Doc/DocSidebarItem.vue
  apps/front/src/component/Page/PageContent.vue
  apps/front/src/markdown/index.ts
Due: Frontend

feat: Remove swagger ui and create a new api route to get PageV2
  Cargo.toml
  apps/back/Cargo.toml
  apps/back/src/api/apidocs.rs
  apps/back/src/api/init.rs
  apps/back/src/api/page/get_page_v2.rs
  apps/back/src/api/page/mod.rs
  libs/back/markdown_struct/Cargo.toml
  libs/back/markdown_struct/src/blog_timeline.rs
  libs/back/markdown_struct/src/content_struct.rs
  libs/back/markdown_struct/src/doc_sidebar.rs
  libs/back/markdown_struct/src/lib.rs
  libs/back/markdown_struct/src/mdast_to_schema.rs
  libs/back/markdown_struct/src/page_database.rs
Due: Backend, Lib Markdown struct

feat: add new swagger.json
  swagger.json
Due: none

feat: generate js api based on the new swagger
  libs/front/api-client/src/api/sdk.gen.ts
  libs/front/api-client/src/api/types.gen.ts
Due: none

feat: add comment to each model
  libs/back/markdown_struct/src/mdast_to_schema.rs
  libs/front/api-client/src/api/types.gen.ts
  swagger.json
Due: Lib Markdown struct

feat: Upgrade js
  package.json
  yarn.lock
Due: none

feat: MAKE TAILWIND 4 WORK !!!
  apps/front/postcss.config.js
  apps/front/src/component/Doc/DocSidebar.vue
  apps/front/src/component/Doc/DocSidebarItem.vue
  apps/front/src/component/Hero/Hero.vue
  apps/front/src/component/NavBar/NavBar.vue
  apps/front/src/component/Page/PageContent.vue
  apps/front/src/component/Page/PageMetadata.vue
  apps/front/src/component/Page/PageString.vue
  apps/front/src/component/Page/PageTitle.vue
  apps/front/src/main.ts
  apps/front/src/styles.css
  apps/front/src/styles.scss
  apps/front/src/styles/DocView.css
  apps/front/src/styles/DocView.scss
  apps/front/src/styles/Hero.css
  apps/front/src/styles/HomeView.css
  apps/front/src/styles/NavBar.css
  apps/front/src/var.css
  apps/front/src/var.scss
  apps/front/src/views/BlogHomeView.vue
  apps/front/src/views/DocHomeView.vue
  apps/front/src/views/DocView.vue
  apps/front/src/views/HomeView.vue
  apps/front/vite.config.ts
  package.json
  yarn.lock
Due: Frontend

feat: WIP tailwind 4
  apps/front/src/component/Doc/DocSidebar.vue
  apps/front/src/component/Doc/DocSidebarItem.vue
  apps/front/src/styles.css
  apps/front/src/styles/BlogView.css
  apps/front/src/styles/DocSidebar.css
  apps/front/src/views/BlogHomeView.vue
  apps/front/src/views/DocHomeView.vue
  apps/front/src/views/DocView.vue
Due: Frontend

feat: Rework Page
  apps/front/src/component/Page/PageContent.vue
  apps/front/src/component/Page/PageMetadata.vue
  apps/front/src/component/Page/PageRender.vue
  apps/front/src/component/Page/PageTitle.vue
  apps/front/src/styles.css
  apps/front/src/styles/Page.css
  apps/front/src/styles/Page/PageContent.css
  apps/front/src/styles/Page/PageMetadata.css
  apps/front/src/styles/Page/PageRender.css
  apps/front/src/styles/Page/PageTitle.css
Due: Frontend

fix: style miss shape
  apps/front/src/component/Page/PageMetadata.vue
  apps/front/src/styles/BlogView.css
  apps/front/src/styles/NavBar.css
  apps/front/src/styles/Page/PageMetadata.css
  apps/front/src/views/BlogHomeView.vue
Due: Frontend

feat: remove content field from PageV2
  libs/back/markdown_struct/src/content_struct.rs
  libs/front/api-client/src/api/types.gen.ts
  swagger.json
Due: Lib Markdown struct

fix: test
  apps/back/src/api/page/mod.rs
Due: Backend

feat: compile time error and test
  libs/back/markdown_header/src/parser.rs
  libs/back/markdown_struct/src/content_struct.rs
Due: Lib MarkdownHeader, Lib Markdown struct

Path conditions:
  Backend: any of: apps/back/**
  Frontend: any of: apps/front/**
  Lib ToolTracing: any of: libs/back/tool_tracing/**
  Lib MarkdownHeader: any of: libs/back/markdown_header/**
  Lib Markdown struct: any of: libs/back/markdown_struct/**
