Repository batleforc/MonoFolio: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Frontend, Lib ToolTracing, Lib MarkdownHeader, Lib Markdown struct

codecov.yaml:

comment:
  layout: "header, diff, components"

component_management:
  default_rules:
    statuses:
    - type: "project"
      target: "auto"
      branches:
      - "!main"
  individual_components:
  - component_id: "apps_back"
    name: Backend
    paths:
    - apps/back/**
    statuses:
    - type: project
      target: 95%
    - type: patch
      target: 100%
  - component_id: "apps_front"
    name: Frontend
    paths:
    - apps/front/**
    statuses:
    - type: project
      target: 50%
  - component_id: "lib_back_tracing"
    name: Lib ToolTracing
    paths:
    - libs/back/tool_tracing/**
  - component_id: "lib_back_md_header"
    name: Lib MarkdownHeader
    paths:
    - libs/back/markdown_header/**
  - component_id: "lib_back_md_struct"
    name: Lib Markdown struct
    paths:
    - libs/back/markdown_struct/**

feat: wip
  apps/front/src/stores/blog.ts
  apps/front/src/stores/doc.ts
  apps/front/src/stores/index.ts
  apps/front/src/stores/page.ts
  apps/front/src/stores/wasm.ts
Due: Frontend

feat: wip 2
  cog.toml
Due: none

chore(version): 0.0.1
  CHANGELOG.md
Due: none

feat: wip
  README.md
Due: none

chore(version): 0.0.2
  CHANGELOG.md
Due: none

chore(version): 1.0.2
  CHANGELOG.md
Due: none

feat: SEtup Favicon
  apps/front/index.html
  apps/front/public/apple-touch-icon.png
  apps/front/public/favicon-96x96.png
  apps/front/public/favicon.ico
  apps/front/public/favicon.svg
  apps/front/public/site.webmanifest
  apps/front/public/web-app-manifest-192x192.png
  apps/front/public/web-app-manifest-512x512.png
Due: Frontend

feat: change start_url
  apps/front/public/manifest.json
Due: Frontend

feat: change manifest
  apps/front/index.html
Due: Frontend

fix: manifest
  apps/front/public/manifest.json
Due: Frontend

feat: add footer
  apps/front/public/manifest.json
  apps/front/src/component/helper/Footer.vue
  apps/front/src/styles/DocView.css
  apps/front/src/views/DocHomeView.vue
  apps/front/src/views/HomeView.vue
Due: Frontend

feat: Doc Part is under huge renovation
  apps/front/src/component/PageV2/PageV2Content.vue
  apps/front/src/component/PageV2/PageV2Metadata.vue
  apps/front/src/component/PageV2/PageV2Render.vue
  apps/front/src/stores/page.ts
  apps/front/src/views/DocView.vue
  apps/front/src/views/HomeView.vue
Due: Frontend

feat: use footer
  apps/front/src/views/DocView.vue
Due: Frontend

feat: Setup Header and Title object
  apps/front/src/component/PageV2/PageV2Content.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Text.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Title.vue
Due: Frontend

feat: add Code component (VueMermaid HightlightJs)
  apps/front/src/component/PageV2/PageV2Content.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Code.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Paragraph.vue
Due: Frontend

feat: List/ListItem/InlineCode and fix TExt and other
  apps/front/src/component/PageV2/PageV2Content.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2InlineCode.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2List.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2ListItem.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Paragraph.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Text.vue
Due: Frontend

feat: add link
  apps/front/src/component/PageV2/PageV2Content.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Link.vue
  apps/front/src/views/DocView.vue
Due: Frontend

feat: Add Strong/Emphasis
  apps/front/src/component/PageV2/PageV2Content.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Emphasis.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Strong.vue
  apps/front/src/component/PageV2/PageV2Render.vue
Due: Frontend

fix: setup Blog to handle V2
  apps/front/src/views/BlogHomeView.vue
  apps/front/src/views/BlogView.vue
  apps/front/src/views/DocHomeView.vue
Due: Frontend

feat: setup maintenance bandeau
  apps/front/src/component/helper/WarnBan.vue
  apps/front/src/stores/page.ts
  apps/front/src/views/BlogHomeView.vue
  apps/front/src/views/BlogView.vue
  apps/front/src/views/DocHomeView.vue
  apps/front/src/views/DocView.vue
Due: Frontend

fix: Ulgy Overflow
  apps/front/src/styles/DocSidebar.css
Due: Frontend

feat: Add support of Media/Url/Ico
  apps/front/src/component/PageV2/PageV2Content.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Image.vue
  apps/front/src/component/helper/IcoOrMedia.vue
  apps/front/src/views/BlogHomeView.vue
  apps/front/src/views/BlogView.vue
  folio_content/content/Project/portfolio.md
Due: Frontend

feat: gzip off
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2ListItem.vue
  build/front/nginx.conf
Due: Frontend

feat: EAT
  deploy/front/templates/ingress.yaml
Due: none

feat: umami
  deploy/front/templates/ingress.yaml
Due: none

feat: upgrade package
  package.json
  yarn.lock
Due: none

feat: Working checkbox
  apps/front/src/component/PageV2/PageV2Content.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2ListItem.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Paragraph.vue
  apps/front/src/component/PageV2/PageV2Render.vue
Due: Frontend

feat: add QuickNavBar for PageRenderV2
  apps/front/src/component/PageV2/PageV2Content.vue
  apps/front/src/component/PageV2/PageV2NodeKind/PageV2Title.vue
  apps/front/src/component/PageV2/PageV2QuickNav/PageV2Heading.vue
  apps/front/src/component/PageV2/PageV2QuickNav/PageV2QuickNav.vue
  apps/front/src/component/PageV2/PageV2Render.vue
  apps/front/src/styles/Page.css
  apps/front/src/styles/Page/PageQuickNav.css
  apps/front/src/styles/Page/PageRender.css
  apps/front/src/styles/Page/PageTitle.css
Due: Frontend

feat: apply neon on home page
  apps/front/src/component/NavBar/NavBar.vue
  apps/front/src/styles.css
  apps/front/src/styles/HomeView.css
  apps/front/src/styles/NavBar.css
  apps/front/src/var.css
  apps/front/src/views/404View.vue
  apps/front/src/views/418View.vue
  apps/front/src/views/HomeView.vue
Due: Frontend

feat: NO NEAD TO GEN MERMAID SVG
  apps/back/src/bin/gen_mermaid_svg.rs
  apps/front/src/component/PageV2/PageV2Render.vue
Due: Backend, Frontend

feat: upgrade package
  apps/back/Cargo.toml
  package.json
  yarn.lock
Due: Backend

feat: update initial
  .github/workflows/rust-api-lint.yml
  .github/workflows/rust-clippy.yml
  .github/workflows/rust-coverage.yml
  .github/workflows/rust-sbom.yml
  package.json
  yarn.lock
Due: none

featl upgrade package
  package.json
  yarn.lock
Due: none

feat: upgrade otel
  libs/back/tool_tracing/Cargo.toml
  libs/back/tool_tracing/src/init.rs
Due: Lib ToolTracing

feat: add base design
  template/ArticleContent.html
  template/Blog.html
  template/Home.html
  template/HomeProject.html
  template/Project.html
  template/Timeline.html
  template/readme.md
Due: none

feat: WIP new ui and upgrade package
  .vscode/settings.json
  apps/front/index.html
  apps/front/src/component/Hero/TextRotate.vue
  apps/front/src/main.ts
  apps/front/src/router/index.ts
  apps/front/src/stylesV2.css
  apps/front/src/stylesV2/index.css
  apps/front/src/varV2.css
  apps/front/src/viewsV2/App.vue
  apps/front/src/viewsV2/HomeView.vue
  folio_content/content/home.yaml
  package.json
  template/Home.html
  template/Timeline.html
  template/test-export/index.html
  template/test-export/styles.css
  yarn.lock
Due: Frontend
