Repository batleforc/MonoFolio: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Frontend, Lib ToolTracing, Lib MarkdownHeader, Lib Markdown struct

feat: Add Projects in api (and upgrade the api)
  .vscode/settings.json
  apps/back/src/api/apidocs.rs
  apps/back/src/api/home/mod.rs
  apps/back/src/api/init.rs
  apps/back/src/api/mod.rs
  apps/back/src/api/project/get_project_list.rs
  apps/back/src/api/project/mod.rs
  apps/back/src/home_profile/home.rs
  apps/back/src/main.rs
  apps/front/src/stylesV2/index.css
  apps/front/src/varV2.css
  apps/front/src/viewsV2/HomeView.vue
  folio_content/content/Project/kube-weebo/ressource.md
  folio_content/content/Techno/Infra/Application/index.md
  folio_content/content/Techno/Infra/GitOps/argocd.md
  folio_content/content/Techno/Language/Back/c++.md
  folio_content/content/Techno/Language/Back/csharp.md
  folio_content/content/Techno/Language/Back/golang.md
  folio_content/content/Techno/Language/Back/java.md
  folio_content/content/Techno/Language/Back/node.md
  folio_content/content/Techno/Language/Back/php.md
  folio_content/content/Techno/Language/Back/python.md
  folio_content/content/Techno/Language/Back/rust.md
  folio_content/content/Techno/Language/Front/javascript.md
  folio_content/content/Techno/Language/Front/react.md
  folio_content/content/Techno/Language/Front/svelte.md
  folio_content/content/Techno/Language/Front/vuejs.md
  folio_content/content/Techno/Language/Progicielle/index.md
  folio_content/content/home.yaml
  libs/back/markdown_struct/src/lib.rs
  libs/back/markdown_struct/src/project_list.rs
  libs/front/api-client/src/api/sdk.gen.ts
  libs/front/api-client/src/api/types.gen.ts
  package.json
  swagger.json
Due: Backend, Frontend, Lib Markdown struct

fix: test
  test_dataset/content/home.yaml
Due: none

feat: first huge milestone of the rework
  apps/front/src/component/helper/IcoMoonSVG.vue
  apps/front/src/component/helper/IcoOrMedia.vue
  apps/front/src/component/home/Header.vue
  apps/front/src/component/home/Hero.vue
  apps/front/src/component/home/Milestones.vue
  apps/front/src/component/home/NavBar.vue
  apps/front/src/component/home/Projects.vue
  apps/front/src/router/index.ts
  apps/front/src/stores/index.ts
  apps/front/src/stores/project.ts
  apps/front/src/stylesV2/index.css
  apps/front/src/varV2.css
  apps/front/src/views/404View.vue
  apps/front/src/views/418View.vue
  apps/front/src/viewsV2/App.vue
  apps/front/src/viewsV2/HomeView.vue
  folio_content/content/Project/poc-argocd-ovh.md
  folio_content/media/ArgoCDxOVhcom.png
Due: Frontend

feat: disable pong for the moment
  build/back/Containerfile
Due: none

feat: WIP cv and working Media [HOOK FAIL OK] has vite doesn't have any update
  apps/back/src/api/apidocs.rs
  apps/back/src/api/project/get_project_list.rs
  apps/front/src/component/Hero/HeroLink.vue
  apps/front/src/component/helper/IcoOrMedia.vue
  apps/front/src/component/home/Contact.vue
  apps/front/src/component/home/Hero.vue
  apps/front/src/component/home/Projects.vue
  apps/front/src/stylesV2/index.css
  apps/front/src/viewsV2/HomeView.vue
  libs/back/markdown_struct/src/mdast_to_schema.rs
  package.json
  swagger.json
  yarn.lock
Due: Backend, Frontend, Lib Markdown struct

fix: swagger def [HOOK FAIL OK]
  libs/back/markdown_struct/src/project_list.rs
  libs/front/api-client/src/api/types.gen.ts
  package.json
  swagger.json
  yarn.lock
Due: Lib Markdown struct

feat: fix button [HOOK FAIL OK]
  apps/front/components.d.ts
  apps/front/public/home_hero.png
  apps/front/src/component/home/Contact.vue
  apps/front/src/component/home/Hero.vue
  apps/front/src/component/home/Milestones.vue
  apps/front/src/component/home/NavBar.vue
  apps/front/src/component/home/Projects.vue
  apps/front/src/stylesV2/index.css
Due: Frontend

feat: add working milestone details [HOOK FAIL OK]
  apps/front/src/component/home/About.vue
  apps/front/src/component/home/Hero.vue
  apps/front/src/component/home/MilestoneModal.vue
  apps/front/src/component/home/Milestones.vue
  apps/front/src/helper/index.ts
  apps/front/src/stores/index.ts
  apps/front/src/stylesV2/index.css
  apps/front/src/stylesV2/milestonesModal.css
  apps/front/src/viewsV2/HomeView.vue
  folio_content/content/home.yaml
  package.json
  yarn.lock
Due: Frontend

feat: show that milestone can be clicked [HOOK FAIL OK]
  apps/front/src/component/home/Milestones.vue
Due: Frontend

feat: handle umami if umami instanciated [HOOK FAIL OK]
  apps/front/src/router/index.ts
Due: Frontend

feat: try to remove duplicate [HOOK FAIL OK]
  apps/front/src/router/index.ts
Due: Frontend

feat: WIP blog home and fix some side thing [HOOK FAIL OK]
  apps/front/src/component/PageV2/PageV2Adviser.vue
  apps/front/src/component/home/Contact.vue
  apps/front/src/component/home/MilestoneModal.vue
  apps/front/src/component/home/Projects.vue
  apps/front/src/router/index.ts
  apps/front/src/stylesV2/blogHome.css
  apps/front/src/stylesV2/index.css
  apps/front/src/stylesV2/milestonesModal.css
  apps/front/src/viewsV2/BlogHomeView.vue
Due: Frontend

feat: WIP Project/Blog Home display [HOOK FAIL OK]
  apps/front/src/component/PageV2/PageV2Adviser.vue
  apps/front/src/component/home/Projects.vue
  apps/front/src/helper/index.ts
  apps/front/src/router/index.ts
  apps/front/src/stylesV2/blogHome.css
  apps/front/src/stylesV2/milestonesModal.css
  apps/front/src/viewsV2/App.vue
  apps/front/src/viewsV2/ProjectHomeView.vue
Due: Frontend

Update settings.json
  .vscode/settings.json
Due: none

feat: i love my timeline
  apps/back/src/api/home/mod.rs
  apps/back/src/home_profile/home.rs
  apps/front/public/icon/selection.json
  apps/front/public/icon/symbol-defs.svg
  apps/front/src/component/PageV2/PageV2Adviser.vue
  apps/front/src/component/home/About.vue
  apps/front/src/component/home/MilestoneModal.vue
  apps/front/src/component/home/Milestones.vue
  apps/front/src/stylesV2/index.css
  apps/front/src/stylesV2/milestonesModal.css
  apps/front/src/viewsV2/App.vue
  folio_content/content/home.yaml
  libs/front/api-client/src/api/types.gen.ts
  package.json
  swagger.json
  yarn.lock
Due: Backend, Frontend

feat: remove old app
  apps/front/src/main.ts
Due: Frontend

Path conditions:
  Backend: any of: apps/back/**
  Frontend: any of: apps/front/**
  Lib ToolTracing: any of: libs/back/tool_tracing/**
  Lib MarkdownHeader: any of: libs/back/markdown_header/**
  Lib Markdown struct: any of: libs/back/markdown_struct/**
