Repository batleforc/MonoFolio: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Frontend, Lib ToolTracing, Lib MarkdownHeader, Lib Markdown struct

feat: remove previous
  .github/workflows/rust-audit.yml
Due: none

feat: exclude pong has i will build the wasm part in it's sub image
  apps/pong/.cargo/config.toml
  build/back/Containerfile
Due: none

feat: exclude pong has i will build the wasm part in it's sub image
  build/back/Containerfile
Due: none

feat: Small Pong with Bevy and build the wasm module inside the media folder
  build/back/Containerfile
Due: none

feat: Small Pong with Bevy and build the wasm module inside the media folder
  .cargo/config.toml
  apps/pong/src/main.rs
  apps/pong/src/model/ball.rs
  apps/pong/src/model/collision.rs
  apps/pong/src/model/gutter.rs
  apps/pong/src/model/mod.rs
  apps/pong/src/model/score.rs
  apps/pong/src/model/scoreboard.rs
  apps/pong/src/model/user_row.rs
Due: none

feat: include pong in the back folder
  .github/workflows/rust-clippy.yml
  cicd/values.yaml
Due: none

feat: include pong in the back folder
  libs/back/tool_tracing/src/init.rs
Due: Lib ToolTracing

feat: init work on including wasm inside the web app
  .github/workflows/rust-coverage.yml
  README.md
  apps/front/src/router/index.ts
  apps/front/src/views/404View.vue
  apps/front/src/views/418View.vue
  apps/front/src/views/PongView.vue
  apps/pong/src/main.rs
  build/back/Containerfile
  folio_content/content/index.md
  package.json
Due: Frontend

feat: setup pong to be working as an external module and fix otlp external env var
  .gitignore
  apps/back/src/api/media/get_media.rs
  apps/front/components.d.ts
  apps/front/src/stores/wasm.ts
  apps/front/src/views/PongView.vue
  apps/pong/src/main.rs
  build/back/Containerfile
  folio_content/media/.gitignore
  libs/back/tool_tracing/src/init.rs
  package.json
Due: Backend, Frontend, Lib ToolTracing

feat: setup pong to be working as an external module and fix otlp external env var
  .github/workflows/rust-coverage.yml
  build/back/Containerfile
Due: none

fix: wrong base url
  apps/front/src/stores/wasm.ts
Due: Frontend

feat: on pong indicate the key to use
  apps/pong/src/model/scoreboard.rs
Due: none

feat: on pong indicate the key to use
  folio_content/content/index.md
Due: none

feat: upgrade dep
  package.json
  yarn.lock
Due: none

feat: upgrade package
  .vscode/settings.json
  libs/back/tool_tracing/src/init.rs
  package.json
  yarn.lock
Due: Lib ToolTracing

feat: work on upgrading the otel lib
  apps/back/Cargo.toml
  libs/back/tool_tracing/Cargo.toml
  libs/back/tool_tracing/src/init.rs
Due: Backend, Lib ToolTracing

fix: repare Project link
  apps/front/src/views/HomeView.vue
Due: Frontend

feat: correction hyperlink techno ++ date
  apps/front/src/component/Page/PageMetadata.vue
  apps/front/src/stores/doc.ts
  apps/front/src/stores/page.ts
  folio_content/content/Techno/Infra/Kube/index.md
Due: Frontend

feat: first blog post ?
  folio_content/content/Project/poc-argocd-ovh.md
Due: none

feat: basic blog
  apps/front/src/component/Page/PageMetadata.vue
  apps/front/src/router/index.ts
  apps/front/src/stores/blog.ts
  apps/front/src/views/BlogHomeView.vue
  apps/front/src/views/BlogView.vue
Due: Frontend

Create SECURITY.md
  SECURITY.md
Due: none

feat: add licences
  LICENSE
Due: none

feat: work on blog page render and upgrade package
  .github/workflows/rust-api-lint.yml
  apps/front/src/component/Page/PageContent.vue
  apps/front/src/component/Page/PageRender.vue
  apps/front/src/component/Page/PageString.vue
  apps/front/src/views/BlogHomeView.vue
  folio_content/content/Project/poc-argocd-ovh.md
  package.json
  yarn.lock
Due: Frontend

feat: try to fix hey api and more doc
  README.md
  libs/front/api-client/package.json
  libs/front/api-client/src/api/services.gen.ts
  package.json
  yarn.lock
Due: none

fix: hey api version
  libs/front/api-client/package.json
  package.json
  yarn.lock
Due: none

feat: spec of the weebo 4 project
  apps/pong/src/model/collision.rs
  folio_content/content/Project/kube-weebo/index.md
  folio_content/content/Project/kube-weebo/ressource.md
Due: none

feat: spec of the weebo 4 project
  build/back/Containerfile
Due: none

feat: package [HOOK FAIL OK]
  catalog-info-back.yaml
  catalog-info-front.yaml
  libs/hook/src/executors/hook:vue/executor.ts
  package.json
  yarn.lock
Due: none

feat: package [HOOK FAIL OK]
  catalog-info-back.yaml
  catalog-info-front.yaml
Due: none

feat: package [HOOK FAIL OK]
  catalog-info-api.yaml
  catalog-info-back.yaml
  catalog-info-front.yaml
Due: none

feat: package [HOOK FAIL OK]
  catalog-info-back.yaml
Due: none

feat: add endoflife [HOOK FAIL OK]
  catalog-info-back.yaml
  catalog-info-front.yaml
Due: none

fix: products [HOOK FAIL OK]
  catalog-info-back.yaml
  catalog-info-front.yaml
Due: none

feat: add spectral to api dev [HOOK FAIL OK]
  catalog-info-api.yaml
Due: none

feat: add spectral to api dev [HOOK FAIL OK]
  .spectral.yaml
Due: none

feat: add spectral to api dev [HOOK FAIL OK]
  package.json
Due: none

Path conditions:
  Backend: any of: apps/back/**
  Frontend: any of: apps/front/**
  Lib ToolTracing: any of: libs/back/tool_tracing/**
  Lib MarkdownHeader: any of: libs/back/markdown_header/**
  Lib Markdown struct: any of: libs/back/markdown_struct/**
