Repository batleforc/MonoFolio: changes, and which Codecov flags are due for each by the changed paths.
All: Backend, Frontend, Lib ToolTracing, Lib MarkdownHeader, Lib Markdown struct

fix: hero doesn't fill the page
  apps/front/src/views/DocHomeView.vue
Due: Frontend

fix: deployt backend
  deploy/back/values.yaml
Due: none

fix: deployt backend
  deploy/back/templates/_helpers.tpl
  deploy/back/templates/deployment.yaml
Due: none

fix: deployt backend
  apps/front/index.html
Due: Frontend

feat: easter egg ? presque
  folio_content/content/home.yaml
Due: none

fix: handle the style of the DocView in full to have a fully working setup
  apps/front/src/component/Doc/DocSidebar.vue
  apps/front/src/component/Doc/DocSidebarItem.vue
  apps/front/src/component/NavBar/NavBar.vue
  apps/front/src/styles/DocView.scss
  apps/front/src/views/App.vue
  apps/front/src/views/DocHomeView.vue
  apps/front/src/views/DocView.vue
Due: Frontend

feat: Make DocView reactive on page change load the new page
  apps/front/src/component/Page/PageRender.vue
  apps/front/src/styles/DocView.scss
  apps/front/src/views/DocHomeView.vue
  apps/front/src/views/DocView.vue
Due: Frontend

fix: correcte blog filter
  libs/back/markdown_struct/src/doc_sidebar.rs
Due: Lib Markdown struct

feat: process markdown into object
  apps/front/src/component/Page/PageContent.vue
  apps/front/src/component/Page/PageMetadata.vue
  apps/front/src/component/Page/PageRender.vue
  apps/front/src/component/Page/PageTitle.vue
  apps/front/src/markdown/index.ts
  folio_content/content/cicd/portfolio-cicd.md
Due: Frontend

feat: setup highlightjs and checkbox
  apps/front/components.d.ts
  apps/front/src/component/Page/PageContent.vue
  apps/front/src/main.ts
  apps/front/src/markdown/index.ts
  folio_content/content/techno/sys/argocd.md
  package.json
  yarn.lock
Due: Frontend

feat: include mermaidjs
  apps/front/src/component/Page/PageContent.vue
  apps/front/src/stores/doc.ts
  apps/front/src/stores/page.ts
  apps/front/src/views/DocView.vue
  package.json
  yarn.lock
Due: Frontend

feat: create card has quick description of the page
  apps/back/src/api/apidocs.rs
  apps/front/components.d.ts
  apps/front/src/component/Doc/DocSidebar.vue
  apps/front/src/component/Page/PageMetadata.vue
  apps/front/src/component/Page/PageTechnoChip.vue
  apps/front/src/markdown/detectLink.ts
  apps/front/src/markdown/detectTextSpec.ts
  apps/front/src/markdown/index.ts
  apps/front/src/stores/doc.ts
  apps/front/tsconfig.json
  libs/back/markdown_struct/src/blog_timeline.rs
  libs/back/markdown_struct/src/content_struct.rs
  libs/back/markdown_struct/src/doc_header.rs
  libs/back/markdown_struct/src/doc_sidebar.rs
  libs/back/markdown_struct/src/page_database.rs
  libs/front/api-client/src/api/schemas.gen.ts
  libs/front/api-client/src/api/types.gen.ts
  swagger.json
Due: Backend, Frontend, Lib Markdown struct

feat: make the doc sidebar mobile
  apps/front/src/component/Doc/DocSidebar.vue
  apps/front/src/component/Page/PageContent.vue
  apps/front/src/component/Page/PageRender.vue
  apps/front/src/styles.scss
  apps/front/src/views/BlogHomeView.vue
  apps/front/src/views/BlogView.vue
Due: Frontend

feat: disable the blog part has it is still in progress
  apps/front/src/component/NavBar/NavBar.vue
Due: Frontend

feat: upgrade dep
  package.json
  yarn.lock
Due: none

feat: add doc on CICD/GitOps/Kube/some other aspect
  folio_content/content/techno/infra/ansible.md
  folio_content/content/techno/infra/application/index.md
  folio_content/content/techno/infra/cicd/concourse.md
  folio_content/content/techno/infra/cicd/github.md
  folio_content/content/techno/infra/cicd/gitlab.md
  folio_content/content/techno/infra/cicd/tekton.md
  folio_content/content/techno/infra/gitops/argocd.md
  folio_content/content/techno/infra/gitops/fluxcd.md
  folio_content/content/techno/infra/kube/helm.md
  folio_content/content/techno/infra/kube/index.md
  folio_content/content/techno/infra/kube/k3s.md
  folio_content/content/techno/infra/kube/microk8s.md
  folio_content/content/techno/language/back/java.md
Due: none

feat: setup eslint
  .github/workflows/front-lint.yml
  README.md
Due: none

feat: setup eslint
  apps/front/index
Due: Frontend

feat: setup eslint
  .github/workflows/front-lint.yml
  apps/front/index
Due: Frontend

feat: setup eslint
  .github/workflows/front-lint.yml
Due: none

fix: eslint first report
  apps/front/src/markdown/detectLink.ts
  apps/front/src/markdown/detectTextSpec.ts
Due: Frontend

feat: setup spectral lint
  .github/workflows/rust-api-lint.yml
  .spectral.yaml
  libs/hook/src/executors/hook:rust/executor.ts
  package.json
  yarn.lock
Due: none

feat: setup spectral lint
  .github/workflows/rust-api-lint.yml
Due: none

feat: setup spectral lint
  folio_content/content/index.md
Due: none

fix: implement all the good practice in the Sarif
  .gitignore
  apps/back/src/api/apidocs.rs
  apps/back/src/api/blog/get_timeline.rs
  apps/back/src/api/doc/get_doc_sidebar.rs
  apps/back/src/api/home/get_home.rs
  apps/back/src/api/media/get_media.rs
  apps/back/src/api/page/get_page.rs
  apps/back/src/homeprofil/home.rs
  folio_content/content/index.md
  libs/back/markdown_struct/src/blog_timeline.rs
  libs/back/markdown_struct/src/content_struct.rs
  libs/back/markdown_struct/src/doc_header.rs
  libs/back/markdown_struct/src/doc_sidebar.rs
  libs/front/api-client/src/api/schemas.gen.ts
  libs/front/api-client/src/api/services.gen.ts
  libs/front/api-client/src/api/types.gen.ts
  swagger.json
Due: Backend, Lib Markdown struct

fix: implement all the good practice in the Sarif
  apps/back/src/api/apidocs.rs
  libs/front/api-client/tsconfig.lib.json
Due: Backend

feat: Rename folder and handle the Upper/Lowercase ++ add more doc on the data folder
  libs/back/markdown_struct/src/blog_timeline.rs
Due: Lib Markdown struct

feat: Add a part of the application that i use
  folio_content/content/Techno/Infra/Application/Auth/Keycloak.md
  folio_content/content/Techno/Infra/Application/Auth/Zitadel.md
  folio_content/content/Techno/Infra/Application/EclipseChe.md
  folio_content/content/Techno/Infra/Application/Gitea.md
  folio_content/content/Techno/Infra/Application/Harbor.md
  folio_content/content/Techno/Infra/ansible.md
Due: none

feat: Add a part of the application that i use
  folio_content/content/Techno/Infra/Terraform.md
Due: none

feat: Start work on Pong
  Cargo.toml
  apps/pong/.cargo/config.toml
  apps/pong/Cargo.toml
  apps/pong/project.json
  apps/pong/readme.md
  apps/pong/src/lib.rs
  apps/pong/src/main.rs
  apps/pong/src/model/ball.rs
  apps/pong/src/model/collision.rs
  apps/pong/src/model/mod.rs
  apps/pong/src/model/user_row.rs
  package.json
Due: none

feat: ajout perm on rust audit
  .github/workflows/rust-audit.yml
Due: none

feat: ajout perm on rust audit
  apps/pong/Cargo.toml
Due: none

feat: ajout perm on rust audit
  .github/workflows/rust-audit.yml
  apps/pong/Cargo.toml
  build/back/Containerfile
Due: none

feat: ajout perm on rust audit
  .github/workflows/rust-audit.yml
  apps/pong/Cargo.toml
Due: none

Path conditions:
  Backend: any of: apps/back/**
  Frontend: any of: apps/front/**
  Lib ToolTracing: any of: libs/back/tool_tracing/**
  Lib MarkdownHeader: any of: libs/back/markdown_header/**
  Lib Markdown struct: any of: libs/back/markdown_struct/**
